.hexagon {
  /* width: 250px;
  height: 193px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
  width: 210px;
  height: 230px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: relative;
  /* background-color:#FFEEF6; */
}

.hexagon-title {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: end;
}

.hexagon-title p {
  margin: 0%;
  padding: 7% 20%;
  /* background-color:#FFA9D4; */
  border-radius: 5rem;
  font-size: 1.1vw;
  text-wrap: nowrap;
  font-weight: 500;
}

.hexagon-body {
  flex: 3;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 3%;
  padding-left: 6%;
  justify-content: center;
}

.hexagon-icon-container {
  width: 1.6vw;
  height: 3.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  /* border: 0.1rem solid #FFA9D4; */
  border-radius: 5rem;
  background-color: white;
  object-fit: contain;
}

.hexagon-icon-container img {
  margin: 0%;
  padding: 0%;
  object-fit: contain;
}