.slider-progress-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slide-counter {
  font-size: 0.9rem;
  color: #555;
}

.slider-progress-bar-wrapper {
  position: relative;
  width: 150px; /* adjust length */
  height: 2px;
  background-color: #e0e0e0;
  overflow: hidden;
}

.slider-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0B6CB9;
  transform: translateX(0%);
  will-change: transform;
}
